Item stored at:

<ul>
    <li>HTML <a href="{{itemUrl}}">{{itemUrl}}</a></li>
    <li>JSON <a href="{{itemUrl}}/json">{{itemUrl}}/json</a></li>
    <li>Text <a href="{{itemUrl}}/content/txt">{{itemUrl}}/content/txt</a></li>
</ul>